name: Daily Login Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "10 4 * * *" # 9:40 AM IST

jobs:
  run-automation:
    runs-on: ubuntu-latest

    env:
      VITE_GREYTHR_URL: ${{ secrets.VITE_GREYTHR_URL }}
      VITE_GREYTHR_USERNAME: ${{ secrets.VITE_GREYTHR_USERNAME }}
      VITE_GREYTHR_PASSWORD: ${{ secrets.VITE_GREYTHR_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - run: npx ts-node -r dotenv/config src/scripts/dailyLogin.ts
