name: Daily Login Automation

on:
  workflow_dispatch: {}
  schedule:
     - cron: "0 10 31 12 *" # 9:25 AM IST, Monday to Friday


jobs:
  run-automation:
    runs-on: ubuntu-latest

    env:
      VITE_GREYTHR_URL: ${{ secrets.VITE_GREYTHR_URL }}
      VITE_GREYTHR_USERNAME: ${{ secrets.VITE_GREYTHR_USERNAME }}
      VITE_GREYTHR_PASSWORD: ${{ secrets.VITE_GREYTHR_PASSWORD }}
      VITE_TO_MAIL: ${{ secrets.VITE_TO_MAIL }}
      VITE_GOOGLE_CLIENT_ID: ${{ secrets.VITE_GOOGLE_CLIENT_ID }}
      VITE_GOOGLE_CLIENT_SECRET: ${{ secrets.VITE_GOOGLE_CLIENT_SECRET }}
      VITE_GOOGLE_REDIRECT_URI: ${{ secrets.VITE_GOOGLE_REDIRECT_URI }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Chrome and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            wget \
            ca-certificates \
            fonts-liberation \
            libappindicator3-1 \
            libatk-bridge2.0-0 \
            libatk1.0-0 \
            libcups2 \
            libdbus-1-3 \
            libgdk-pixbuf2.0-0 \
            libnspr4 \
            libnss3 \
            libx11-xcb1 \
            libxcomposite1 \
            libxdamage1 \
            libxrandr2 \
            xdg-utils \
            libgbm1 \
            libgtk-3-0 \
            libasound2t64

          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo dpkg -i google-chrome-stable_current_amd64.deb || sudo apt-get -fy install

      - run: rm -rf node_modules package-lock.json

      - run: npm install

      - run: chmod +x ./node_modules/.bin/tsx

      - name: Write Gmail token.json
        run: echo '${{ secrets.VITE_GMAIL_TOKEN_JSON }}' > token.json

      - run: npx tsx -r dotenv/config src/scripts/dailyLogin.ts
